{% extends '::layout.html.twig' %}

{% block title %}Modificar vehículo {{ vehiculo.matricula }}{% endblock %}

{% block content %}
    <h1 class="well">Modificar vehículo {{ vehiculo.matricula }}</h1>

    {{ form(formulario) }}

    <a href="{{ path('vehiculos_listar') }}" class="btn btn-info">Volver al listado de vehículos</a>
{% endblock %}