{% extends '::layout.html.twig' %}

{% block title %}Nuevo tipo de vehículo{% endblock %}

{% block content %}
    <h1 class="well">Crear un nuevo tipo de vehículo</h1>

    {{ form(formulario) }}

    <a href="{{ path('tipo_vehiculo_listar') }}" class="btn btn-info">Volver al listado de tipos de vehículo</a>
{% endblock %}