{% extends '::base.html.twig' %}

{% block title %}
Entrar en la aplicación
{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message | trans }}
        </div>
    {% endif %}
    <form method="post" action="{{ path('usuario_comprobar') }}">
    <input name="_username" placeholder="Nombre de usuario" value="{{ ultimo_usuario }}">
    <input name="_password" type="password" placeholder="Contraseña">
    <button type="submit">Entrar</button>
</form>
{% endblock %}

